.header_wr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;


    & span {        
        font-family: "Ubuntu", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 60px;
        letter-spacing: -0.6rem;

        & span {
            color: var(--terciary-color);
        }
    }
     
    & .change_mode_user_wr {
        display: flex;
        gap: 10px;

        & .user_wr {
            position: relative;

            & svg {
                fill: var(--primary-color);
                cursor: pointer;
            }

            & menu {
                position: absolute;
                display: flex;
                flex-direction: column;
                gap: 5px;
                background-color: #F4F4F4;
                padding: 10px;
                border-radius: 13px;
                opacity: 0;

                & li {
                    list-style: none;

                    & button {
                        border: none;
                        color: var(--primary-color);
                        font-size: 16px;
                        font-weight: 600;
                        cursor: pointer;
                    }
                }
            }
        }

        & .user_wr:hover > menu {
            opacity: 1;
        }
    }

    & .change_mode {
        background-color: unset;
        border: none;
        cursor: pointer;

        & svg {
            fill: var(--primary-color);
        }
    }

    @media (max-width: 400px) {
        & span {
            font-size: 30px;
            letter-spacing: -0.3rem;
        }
    }
}